<app-overlay>
  <ng-container class="content">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h1>Find Your Place</h1>
      </div>
    </div>
  </ng-container>
</app-overlay>

<div class="container">
  <div class="row mt-5">
    <div class="col">
      <div class="form-search-wrap p-2" data-aos="fade-up" data-aos-delay="200">
        <form method="post" #search="ngForm" (ngSubmit)="onSearch(search.value)">
          <div class="row  d-flex align-items-end">
            <div class="col-lg-3 col-xl-3 no-sm-border border-right">
              <select class="form-control" ngModel name="gender" id="">
                <option value="">Choose Gender </option>
                <option value="male">Male </option>
                <option value="female">Female </option>
              </select>
            </div>
            <div class="col-lg-2 col-xl-2 no-sm-border border-right">
                <link rel="stylesheet" href="https://demos.jquerymobile.com/1.4.2/css/themes/default/jquery.mobile-1.4.2.min.css">
                <script src="https://demos.jquerymobile.com/1.4.2/js/jquery.js"></script>
                <script src="https://demos.jquerymobile.com/1.4.2/js/jquery.mobile-1.4.2.min.js"></script>
                <div data-role="rangeslider">
                  <label for="range-1a">Max:</label>
                  <input   class="bg-color:black" type="range" ngModel name="max" id="range-1a" min="100" max="1000" value="40" data-popup-enabled="true" data-show-value="true"  (change)="showVal($event)">
                  <label for="range-1b">Min:</label>
                  <input type="range" ngModel name="min" id="range-1b" min="100" max="5000" value="80" data-popup-enabled="true" data-show-value="true" (change)="showVal($event)">
                </div>



              <!-- <input type="range" #ref (change)="showVal(ref.value)"/> -->
              <!--
              <input type="range" min="1" max="10" step="1"
              [(ngModel)]="changeResult"
              (change)="showVal($event)" />
              <div>{{dragResult}}</div>
              -->

              <!-- <input type="range" min="5" max="10" step="1"

                (Change)="showVal($event)"> -->

            </div>
            <div class="col-lg-2 col-xl-2 no-sm-border border-right">
              <div class="wrap-icon">
                <span class="icon"><span class="icon-keyboard_arrow_down"></span></span>
                <select class="form-control" ngModel name="state" (change)="choosegov($event)" id="">
                  <!-- <option  value="">locations </option> -->
                  <option *ngFor="let city of gov" [value]="city.governorate">
                    {{city.governorate}}</option>

                </select>
              </div>

            </div>
            <div class="col-lg-3 col-xl-3">
              <div class="select-wrap">
                <span class="icon"><span class="icon-keyboard_arrow_down"></span></span>
                <select class="form-control" ngModel *ngIf="test" name="state" id="">
                  <!-- <option value="">All States</option> (click)="choosegov(city.name)" -->
                  <option *ngFor="let city of cities" [value]="city.name">
                    {{city.name}}
                  </option>

                </select>
              </div>
            </div>
            <div class="col-lg-2 col-xl-2 ">
              <button type="submit" class="btn text-white btn-dark">Search</button>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="site-section" data-aos="fade">
  <div class="container-fluid">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center border-dark">
        <h2 class="font-weight-light text-dark">All Apartments Realated to this Area</h2>
        <!-- <p class="color-black-opacity-5">All Apartments Realated to this Area.</p> -->
      </div>
    </div>

    <div class="row mt-5">

      <div class="col-md-6 mb-4 mb-lg-4 col-lg-4 " *ngFor="let apart of apart">

        <div class="card" style="width:450px" >
          <img class="card-img-top" src="../../assets/images/apart_3.jpeg" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">owner : hamada </h4>
            <p class="card-text">Price : {{ apart.price }}</p>
            <p class="card-text">Address : 94 Abdul-Elgoad St,Dirout,Assuit,Egypt </p>
            <p class="card-text ">Max Persons : {{ apart.max }}
              <span class="icon icon-user p-1"></span>
              <span class="icon icon-user p-1"></span>
              <span class="icon icon-user p-1"></span>
              <span class="icon icon-user p-1"></span>
              <span class="icon icon-user p-1"></span>
              <span class="icon icon-user p-1"></span>

            </p>
            <p class="card-text">Gender : {{ apart.gender }} </p>

            <a routerLink="apart-details" class="btn btn-danger">Show</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
